body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./imgs/IMAGeS5b.webp');
    background-position:cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  .title {
    font-size: 28px;
    margin: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  .red  a{
    color: red;
  }